[Unit]
Description=ZooKeeper server, conf used: /etc/zookeeper/%I.cfg
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=zookeeper
Group=zookeeper
SyslogIdentifier=ZooKeeper[%i]

WorkingDirectory=/var/zookeeper

ExecStart=/usr/bin/bash -c 'source /etc/sysconfig/zookeeper.env; exec /usr/bin/java -cp $CLASSPATH $ZK_JAVA_CMD /etc/zookeeper/%I.cfg '

[Install]
WantedBy=multi-user.target
